body
{
    background-color: aquamarine;
}

img
{
    padding-left: 30%;
    width: 40%;
}

header
{
    text-align: center;
}

section 
{
    text-align: center;
}

footer
{
    text-align: center;
}

